# Node / builds
node_modules/
dist/
build/
# Maven/Gradle
target/
# Project specific
daemon/CMd/log/
video/

# Logs
*.log
*.bak

# Large media & archives
*.zip
*.mp4
*.mp4_drop
*.mp4_tmp
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Binaries / libs (실행/라이브러리 산출물 금지)
*.exe
*.dll
*.lib

# Python / ML artifacts
*.py[cod]
*.pt
*.pth
*.pkl
*.weights
*.db

# IDE
.idea/

# OS
.DS_Store
